*{
margin: 0;
padding: 0;
border: 0;
}

.container{
    width: 600px;
    border: 2px solid black;
    margin: 0 auto; /* para que el texto de adentro se centre bien  */
    padding: 20px; 
    margin-top: 20px;
   }
    

     .row{
        display: flex;
        align-items: center; /* aliniacion  vertical  */
        justify-content: space-between;

  
  
      margin-top: 3px;
    }    



.parrafo2{
   margin-top: 2px;
}


    
 button{
    background-color: yellow;
    padding: 3px;
    box-shadow: 2px 2px o black;
    border: 2px solid black;
    cursor: pointer;
 }

 button:hover{

   background-color: green;
   border: 3px solid rgb(24, 81, 24);

 }