*{
    padding: 0;
    margin: 0;
    border: 0;
}

.top{
 background-color: black;
 display: flex;
 height: 110px;
 }
 
 h1{
    color: antiquewhite;
    margin: 25px;
    font-weight: bolder;
    font-size: 44px;
 }

 .parrafotop{
    color: rgb(249, 247, 247);
    position: relative;
    top: 120px;
    left: 325px;
    color: black;
    font-size: 53px;
    font-weight: bold;
}
/* aca termina el encabezado  */

.row0{
    display: flex;
    border: 3px solid black;
    width: 251px;
    height: 333px;
    margin-top: 156px;
    margin-left: 35px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.img1{
    width: 124px;
    
}

.ancla  {
    font-size: 26px;
}
.parrafoCard{
    font-size: 26px;
    font-weight: bold;

}

/* aca termina contenedor izquerdo */
 
/*  comienza parte derecha del contenedor */


.container2{
    width: 600px;
    border: 3px solid black;
    margin: 0 auto; /* para que el texto de adentro se centre bien  */
    padding: 20px; 
    position: absolute;
    top: 268px;
    left: 348px;
}
.rowDos{
    display: flex;
    align-items: center; /* aliniacion  vertical  */
    justify-content: space-between;
}

/* estas dos partes son solo el posicionamiento del contenedor  */
.tituloDos  {
    color: black;
}

.prf{
    font-size: 29px
}

.btn1{

    background-color: yellow;
    padding: 3px;

    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
    border: 4px solid black;
    cursor: pointer;
    font-size: 27px;
    width: 115px;
    

 }

.btn1:hover{

    background-color: rgb(70, 255, 70);
}

.parrafoDos{
 font-size:27px ;

}


/*  aca termina el primer container derecho */



.container3{
    width: 600px;
    border: 3px solid black;
    margin: 0 auto; /* para que el texto de adentro se centre bien  */
    padding: 20px; 
    position: absolute;
    top: 523px;
    left: 348px;
}
.rowTres{
    display: flex;
    align-items: center; /* aliniacion  vertical  */
    justify-content: space-between;
}

/* estas dos partes son solo el posicionamiento del contenedor  */
.tituloTres  {
    color: black;
}

.prf3{
    font-size: 29px
}

.btn2{

    background-color: yellow;
    padding: 3px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);


    border: 4px solid black;
    cursor: pointer;
    font-size: 27px;
    width: 115px;

 }

.btn2:hover{

    background-color: rgb(70, 255, 70);
}

.parrafoTres{
 font-size:27px ;

}

/*  termina la 2da contenedor */

/* 3ra ultimo */

.container4{
    width: 600px;
    border: 3px solid black;
    margin: 0 auto; /* para que el texto de adentro se centre bien  */
    padding: 20px; 
    position: absolute;
    top: 744px;
    left: 348px;
}
.rowFour{
    display: flex;
    align-items: center; /* aliniacion  vertical  */
    justify-content: space-between;
}

/* estas dos partes son solo el posicionamiento del contenedor  */
.tituloFour  {
    color: black;
}

.prf4{
    font-size: 29px
}

.btn3{

    background-color: yellow;
    padding: 3px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);



    border: 4px solid black;
    cursor: pointer;
    font-size: 27px;
    width: 115px;

 }

.btn3:hover{

    background-color: rgb(70, 255, 70);
}

.parrafoFour{
 font-size:27px ;

}

.espacio-pie-pagina{
    width: 20px;
    height: 20px; /* Ajusta el valor según tus necesidades */
    background-color:black; /* Opcional: Cambia el color de fondo según tus preferencias */
}

footer {
    margin-top: 410px;
    background-color: #333; /* Cambia el color de fondo según tus preferencias */
    color: #fff; /* Cambia el color del texto según tus preferencias */
    padding: 20px; /* Ajusta el relleno según tus necesidades */
    height: 26px;
}